@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

.curve {
  stroke: #00bfa6;
  stroke-width: 4;
  fill: none;
  stroke-dasharray: 15;
  stroke-dashoffset: 0;
}

.orbit {
  animation: orbit 10s linear infinite;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.outer-orbit, .inner-orbit {
  transform-origin: 200px 200px;
}

.introduction {
  text-align: center;
  margin: 20px;
}

.gallery {
  display: grid;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.gallery-item {
  width: auto;
  height: auto;
  padding: 20px;
  background-color: #4c5858;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gallery-item img {
  width: auto;
  height: 350px;
  border-radius: 10px;
}

.gallery-item h4 {
  color: #0be6c8;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.5rem;
}

.gallery-item ul {
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.gallery-item a {
  display: inline-block;
  margin-top: 10px;
  background-color: #00bfa6;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

#about .container {
  width: 80%;
  margin: 0 auto;
}

.resume-section .download-btn {
  display: block;
  text-align: center;
  background-color: #00bfa6;
  color: Black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
}

.resume-section .download-btn:hover {
  background-color: #3bfcec;
}

.social-links a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

#about h2 {
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

#service h1 {
  text-align: center;
  margin: 2rem;
  color: white;
  font-weight: bold;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.service-item {
  background-color: #4c5858;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-item img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.tech-container {
  max-width: 1200px;
  margin: 2rem auto;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

footer {
  background-color: #333;
  color: rgb(44, 243, 210);
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

footer p {
  margin: auto;
}

@media screen and (max-width: 700px) {
  .main-content {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .tech-grid, .services-grid {
    grid-template-columns: 1fr;
  }
}
